button {
  background-color: transparent;
  border: 0px; }

.left-arrow, .right-arrow {
  position: absolute;
  top: 300px; }

.right-arrow {
  right: 0px; }

button:focus {
  outline: none;
  opacity: 0.8; }

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  color: #FFFFFF;
  background-color: #13090c;
  margin-right: 0px;
  line-height: 1.5rem; }

body {
  margin: 0px;
  padding: 0px; }

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 74px;
  font-size: 1rem; }

.anchor {
  padding-top: 74px;
  margin-top: -74px; }

#about-wrapper {
  background: rgba(19, 9, 12, 0), url("../img/about-back-tile.png") center center repeat-x;
  background: -webkit-linear-gradient(right, rgba(19, 9, 12, 0), #13090c, #13090c), url("../img/about-back-tile.png") center center repeat-x;
  background: linear-gradient(to left, rgba(19, 9, 12, 0), #13090c, #13090c), url("../img/about-back-tile.png") center repeat; }

section {
  padding: 50px 50px 50px 50px;
  position: relative; }

.pane, .col-3, .col-4 {
  display: inline-block;
  position: relative;
  background-color: rgba(44, 17, 19, 0.3);
  width: 100%;
  padding: 20px 20px 20px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.logo {
  width: 100%; }

.narrowed {
  width: 60%; }

h1 {
  margin-top: auto;
  font-size: 1.8rem; }

h1, h2 {
  /*text-transform: uppercase;*/
  font-variant: small-caps; }

a {
  color: #f91a45;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1); }
  a :hover {
    color: rgba(249, 26, 69, 0.5); }

nav {
  float: right;
  display: inline-block; }
  nav a {
    margin-left: 30px; }

.row {
  margin-bottom: 20px;
  position: relative; }

.col-3, .col-4 {
  margin-left: 5px;
  margin-right: 5px; }

.col-3 {
  width: calc(33.33333% - 10px); }

.col-4 {
  width: calc(25% - 10px); }

header {
  z-index: 2;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 30px 96px 30px 96px;
  top: 0;
  left: 0;
  background: rgba(37, 17, 23, 0.9);
  background: -webkit-linear-gradient(top, rgba(37, 17, 23, 0.9), rgba(0, 0, 0, 0.9));
  background: linear-gradient(to bottom, rgba(37, 17, 23, 0.9), rgba(0, 0, 0, 0.9));
  border-bottom: 2px solid rgba(255, 255, 255, 0.15); }
  header .monogram {
    font-size: 0.8rem; }

footer {
  width: 100%;
  padding: 30px 96px 30px 96px;
  top: 0;
  left: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.15); }

#cases ol {
  height: 500px;
  padding: 0; }
#cases li {
  width: 100%; }
#cases li img {
  height: 500px;
  max-width: 100%;
  float: right; }
#cases #caption.pane, #cases #caption.col-3, #cases #caption.col-4 {
  position: absolute;
  top: 180px;
  padding-left: 80px;
  background-color: rgba(44, 17, 19, 0.8);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
#cases #collab.pane, #cases #collab.col-3, #cases #collab.col-4 {
  position: absolute;
  display: inline-block;
  width: auto;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  bottom: 80px;
  right: 0px;
  background-color: rgba(44, 17, 19, 0.8);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

#models .carousel ol {
  height: 700px; }
  #models .carousel ol li {
    position: absolute;
    top: 0px; }
    #models .carousel ol li img {
      height: 700px;
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  #models .carousel ol li.current {
    opacity: 1; }
#models button {
  top: 500px; }

.carousel ol {
  position: relative;
  overflow: visible; }
  .carousel ol li {
    position: absolute;
    top: 0px;
    list-style: none;
    opacity: 0;
    transition: all 0.5s ease; }
  .carousel ol li.current {
    opacity: 1; }

#contacts div {
  display: inline-block;
  margin-right: 20px; }
  #contacts div p {
    margin-bottom: 0px;
    margin-top: 0px; }
  #contacts div p:last-of-type {
    color: #f91a45; }

.decent, #contacts div p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=main.css.map */
