@import "gradient";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

$accentColor : #f91a45;
$baseColor: #FFFFFF;
$backgroundColor-l: rgb(37,17,23);
$backgroundColor-r: black;
$paneBackgroundColor: rgb(44,17,19);
$backgroundColor: ($backgroundColor-l+$backgroundColor-r)*0.5;
$decentColor : rgba($baseColor, 0.5);

$paneRoundedRadius: 5px;



button{
  background-color: transparent;
  border: 0px;
}

.left-arrow, .right-arrow{
  position: absolute;
  top: 300px;
}

.right-arrow {
  right: 45px;
}

button:focus{
  outline: none;
  opacity: 0.8;
}


* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  color: $baseColor;
  background-color: $backgroundColor;
  margin-right: 0px;
  line-height: 1.5rem; }

body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 74px;
  font-size: 1rem; }

.anchor {
  padding-top: 74px;
  margin-top: -74px; }

#about-wrapper {
  @include image-linear-gradient("../img/about-back-tile.png", to left, rgba($backgroundColor, 0), $backgroundColor, $backgroundColor);
}

section {
  padding: 50px 50px 50px 50px;
  position: relative;
}

.pane {
  display: inline-block;
  position: relative;
  background-color: rgba($paneBackgroundColor, 0.3);
  width: 100%;
  padding: 20px 20px 20px 20px;
  @include border-radius($paneRoundedRadius);
}

.logo{
  width: 100%;
}

.narrowed {
  width: 60%; }

h1 {
  margin-top: auto;
  font-size: 1.8rem; }

h1, h2 {
  /*text-transform: uppercase;*/
  font-variant: small-caps; }

a {
  color: $accentColor;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  :hover{
    color: rgba($accentColor, 0.5);
  }
}

nav {
  float: right;
  display: inline-block;
  a {
    margin-left: 30px;
  }
}

.row{
  margin-bottom: 20px;
  position: relative;
}

.col-3, .col-4{
  // float: left;
  margin-left: 5px;
  margin-right: 5px;
  @extend .pane;
}

.col-3{
  width: calc(33.33333% - 10px);
}

.col-4{
  width: calc(25% - 10px);
}

header {
  z-index: 2;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 30px 96px 30px 96px;
  top: 0;
  left: 0;
  @include linear-gradient(to bottom, rgba($backgroundColor-l, 0.9), rgba($backgroundColor-r, 0.9));
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  .monogram {
    font-size: 0.8rem;
  }
}

footer {
  width: 100%;
  padding: 30px 96px 30px 96px;
  top: 0;
  left: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.15); }

#cases{
  ol{
    height: 500px;
  }

  li{
    width: 100%;
  }

  li img {
    // position: absolute;
    height: 500px;
    max-width: 100%;
    float: right;
  }

  #caption.pane{
    position: absolute;
    top: 180px;
    // left: 50px;
    padding-left: 80px;
    background-color: rgba($paneBackgroundColor,0.8);
    @include border-radius(0px);
  }

  #collab.pane{
    position: absolute;
    display: inline-block;
    width: auto;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    bottom: 80px;
    right: 0px;
    background-color: rgba($paneBackgroundColor,0.8);
    @include border-radius(0px);
  }
}

#models{
  .carousel {
    ol{
      height: 700px;
      li{
        position: absolute;
        width: 100%;
        top: 0px;
        text-align: center;
        img{
          // position: relative;
          height: 700px;
          max-width: 100%;
        }
      }
      li.current{
        opacity: 1;
      }
    }
  }
  button{
    top: 500px;
  }
}

.carousel {
  ol{
    position: relative;
    overflow:visible;
    padding: 0;
    li{
      position: absolute;
      top: 0px;
      list-style: none;
      opacity: 0;
      transition: all 0.5s ease;
    }
    li.current{
      opacity: 1;
    }
  }
}

#contacts{
  div{
    display: inline-block;
    margin-right: 20px;
    p{
      margin-bottom: 0px;
      margin-top: 0px;
      @extend .decent;
    }
    p:last-of-type{
      color: $accentColor;
    }
  }
}

.decent {
  font-size: 0.8rem;
  color: $decentColor;
}
